<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="3145728"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <add name="dbcs"
      connectionString="data source=.; database = onlineshop; User Id= sa; Password = 10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 3GB Files / in byte (3072*1024*1024) -->
        <requestLimits maxAllowedContentLength="3221225472" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>